.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
logs/
test/
certs/
public/data/uploads/
public/data/processed/
public/data/processed_text/
public/data/pdfs/
public/data/converted/
public/data/models/
node_modules/